numpy
pandas
scipy
matplotlib
patsy
statsmodels
scikit-learn
Flask
Jinja2
MarkupSafe
PyYAML
SQLAlchemy
Werkzeug
backports.ssl-match-hostname
gnureadline
ipython
itsdangerous
networkx
nose

psycopg2
pyparsing
python-dateutil
pytz
six
tornado
wsgiref